<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476578464394-mdeohk1347d087cvsp5f5llrgnl40ujr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476578464394-mdeohk1347d087cvsp5f5llrgnl40ujr</string>
	<key>API_KEY</key>
	<string>AIzaSyDvDRcOeDweSJxUBu0hTLx-Y74es84Bh0g</string>
	<key>GCM_SENDER_ID</key>
	<string>476578464394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuckelhaus.studyCard</string>
	<key>PROJECT_ID</key>
	<string>studycards-afd5a</string>
	<key>STORAGE_BUCKET</key>
	<string>studycards-afd5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476578464394:ios:e96566f0bd962327786373</string>
</dict>
</plist>